<!DOCTYPE html>
<html>
<head>
<style type = "text/css" media = "all">
body{
	background-color:LightYellow;
	margin-left: 40px
    }

 h3 {
	color:red;
	margin-left:40px;
    }
  

input[type=text], select {
                          width: 100%;
  			  padding: 10px;
  			  border: 1px solid #ccc;
  			  border-radius: 4px;
  			  resize: vertical;
                         }

label {
  	padding: 10px 10px 10px 0;
  	display: inline-block;
      }
.container {
  	     border-radius: 5px;
  	     background-color: #f2f2f2;
  	     padding: 25px;
           }

.col-25 {
  	  float: left;
  	  width: 25%;
 	  margin-top: 4px;
	}

.col-75 {
  	 float: left;
  	 width: 75%;
  	 margin-top: 4px;
	}
input[type=submit] {
  			background-color: #4CAF50;
  			color: white;
  			padding: 12px 20px;
  			font-size: 16px;
  			border-radius: 4px;
  			float: right;  
		   }

</style>
</head>
<body>
	   <h3><div style="text-align:center"><font size="6"> Flight Delay Prediction</div></font></h3>
 <div>
    <form action="/result" method="POST"> 
        <div class="row">
            <div class="col-25">
               <label for="arrival_delay" > ARRIVAL_DELAY </label> 
            </div>
            <div class="col-75">
	       <input type="text" id="arrival_delay" name="arrival_delay"> btw:[-256.49 to 1971.0]
            </div>
        </div>
        <div class="row">
           <div class="col-25">	
    	       <label for="air_system_delay"> AIR_SYSTEM_DELAY </label> 
           </div>
           <div class="col-75">
	       <input type="text" id="air_system_delay" name="air_system_delay"> btw:[0.0 to 1134.0] 
           </div>
        </div>
        <div class="row">
           <div class="col-25">
     	       <label for="late_aircraft_delay"> LATE_AIRCRAFT_DELAY </label> 
           </div>
           <div class="col-75">
    	       <input type="text" id="late_aircraft_delay" name="late_aircraft_delay"> btw:[0.0 to 1331.0] 
           </div>
        </div>
        <div class="row">
           <div class="col-25">
    	       <label for="airline_delay"> AIRLINE_DELAY </label> 
           </div>
           <div class="col-75">
    	       <input type="text" id="airline_delay" name="airline_delay"> btw:[0.0 to 1971.0] 
           </div>
        </div>
        <div class="row">
           <div class="col-25">
    	       <label for="security_delay"> SECURITY_DELAY </label> 
           </div>
           <div class="col-75">
    	      <input type="text" id="security_delay" name="security_delay"> btw:[0.0 to 573.0] 
           </div>
        </div>
        <div class="row">
           <div class="col-25">
    		<label for="weather_delay"> WEATHER_DELAY </label>  
           </div>
          <div class="col-75">
    	       <input type="text" id="weather_delay" name="weather_delay"> btw:[0.0 to 1211.0] 
          </div>
        </div>     
        <div class="row">
            <div class="col-25">
    	        <label for="schedule_time"> SCHEDULED_TIME</label>  
            </div>
            <div class="col-75">
    	        <input type="text" id="schedule_time" name="schedule_time"> btw:[18.0 to 718.0] 
            </div>
        </div>     
        <div class="row">
            <div class="col-25">
    	        <label for="schedule_departure"> SCHEDULED_DEPARTURE </label>  
            </div>
            <div class="col-75">
    	        <input type="text" id="schedule_departure" name="schedule_departure"> btw:[1 to 2359]  
            </div>
        </div>    
        <div class="row">
            <div class="col-25">
    	        <label for="flight_number"> FLIGHT_NUMBER </label>   
            </div>
            <div class="col-75">
    	        <input type="text" id="flight_number" name="flight_number"> btw:[1 to 9855]  
            </div>
        </div>    
        <div class="row">
            <div class="col-25">
    	        <label for="taxi_out"> TAXI_OUT </label>   
            </div>
            <div class="col-75">
    	        <input type="text" id="taxi_out" name="taxi_out"> btw:[0.00032 to 356.33]  
            </div>
        </div>   
        <div class="row">
            <div class="col-25">
    	        <label for="taxi_in"> TAXI_IN </label>   
            </div>
            <div class="col-75">
    	        <input type="text" id="taxi_in" name="taxi_in"> btw:[0.000017 to 248.0]  
            </div>
        </div>    
        <div class="row">
            <div class="col-25">
    	        <label for="wheels_on"> WHEELS_ON </label>    
            </div>
            <div class="col-75">
    	        <input type="text" id="wheels_on" name="wheels_on"> btw:[1.0 to 2400.0]  
            </div>
        </div>   
        <div class="row">
            <div class="col-25">
    	        <label for="cancelled">CANCELLED</label>    
            </div>
           <div class="col-75">
    	        <select id="cancelled" name="cancelled"> 
                    <option value="0">Not Cancelled</option> 
                    <option value="1">Cancelled</option> 
                </select>  
            </div>
        </div>   
        <div class="row">
            <div class="col-25">
    	        <label for="cancellation_reason"> CANCELLATION_REASON </label>    
            </div>
            <div class="col-75">
    	        <select id="cancellation_reason" name="cancellation_reason"> 
            		<option value="0">D</option> 
            		<option value="1">C</option>
            		<option value="2">A</option> 
            		<option value="3">B</option> 
        	</select>  
            </div>
        </div>   
        <div class="row">
            <div class="col-25">
                <label for="airline">AIRLINE</label> 
            </div>
            <div class="col-75">
                <select id="airline" name="airline"> 
          		<option value="0">HA</option> 
          		<option value="1">AS</option>
          		<option value="2">US</option> 
          		<option value="3">DL</option>
          		<option value="4">OO</option> 
          		<option value="5">EV</option>
          		<option value="6">AA</option> 
          		<option value="7">VX</option> 
          		<option value="8">MQ</option> 
          		<option value="9">WN</option>
          		<option value="10">B6</option> 
          		<option value="11">F9</option>
          		<option value="12">UA</option> 
          		<option value="13">NK</option>
        	</select> 
            </div>
       </div> 
      <br> 
    
      <div class="row">  
           <input type="submit" value="Submit">
      </div>
    </form>
       
      	       
           
 </div>
</body>
</html>

